@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
    --longb-green: #43a050;
    --longb-green-rgb: rgb(67, 160, 80);
    --longb-green-dark: #388b43;
    --longb-sky-blue: rgb(65, 192, 255);
  }

body{
    background-color: var(--longb-sky-blue);
}

header a, footer a {
    color: white;
}

a:hover {
    color:var(--longb-green);
    text-decoration: none;
}


h1 {
    font-family: Amatic SC;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 400;
}


#canvas-range:hover {
    cursor: row-resize;
}

.btn-longb-primary {
    font-family: Amatic SC;
    font-size: 1.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    text-transform: uppercase;
    --bs-btn-font-weight: 700;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--longb-green);
    --bs-btn-border-color: var(--longb-green);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--longb-green-dark);
    --bs-btn-hover-border-color: var(--longb-green-dark);
    --bs-btn-focus-shadow-rgb: var(--longb-green-rgb);
    --bs-btn-active-color: var(--longb-green-dark);
    --bs-btn-active-bg: var(--longb-green-dark);
    --bs-btn-active-border-color: var(--longb-green-dark);
  }
  